<ng-container *ngIf="!isSet; else setCollection">
    <app-store-item-image
        class="display-store-image"
        [expandedView]="expandedView"
        [fillImage]="!expandedView"
        [imgPath]="itemConfig.imagesPath[0]"
        [frameColor]="frameColor"
        (click)="pictureClicked.emit()"></app-store-item-image>
</ng-container>
<ng-template #setCollection>
    <app-carousel
        class="carousel"
        imagesName="{{itemConfig.name}} painting"
        [expandedView]="expandedView"
        [carouselImagesPath]="itemConfig.imagesPath"
        [frameColor]="frameColor"
        (pictureClicked)="pictureClicked.emit()"
    ></app-carousel>
</ng-template>
