%button-common {
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 var(--app-border);
  }
}

.standard {
  @extend %button-common;
  border-radius: 50px;
}

.square {
  @extend %button-common;
}
