@use 'mixins';

:host {
  display: block;
  overflow: auto;
}

.grid-container {
  @include mixins.width-height-100();
  display: grid;
  grid-gap: 50px;
  padding: 0 40px 40px;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);

  .grid-item {
    text-align: center;
    aspect-ratio: 1;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgb(var(--color-on-primary-rgb), 0.6), rgb(var(--color-on-primary-rgb), 0.1), rgb(var(--color-on-primary-rgb), 0.6));
  }
}
