<!--<div class="categories">-->
<!--    <ng-container *ngFor="let category of categories">-->
<!--        <app-shop-category-option [shopCategoryOption]="category"></app-shop-category-option>-->
<!--    </ng-container>-->
<!--</div>-->
<div class="online-shop-page-wrapper">
    <app-navigation-header></app-navigation-header>
    <div class="shopping-content">
        <app-side-menu class="shop-side-menu" [sideMenuItems]="categories"></app-side-menu>
        <div class="online-shop-page-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
