@use 'mixins';
@use 'variables';

:host {
  height: 100%;
}


.shopping-content {
  position: relative;
  @include mixins.flex();
  height: 100%;
}

.shop-side-menu {
  flex-basis: variables.$side-menu-width;
  height: 100%;
  padding-left: 10px;
  padding-top: 10px;
}

.online-shop-page-content {
  flex-basis: 85%;
  padding: 10px;
}
