@use 'mixins';

:host {
  height: 100%;
}

.online-shop-page-wrapper {
  height: 100%;
  position: relative;

  .shopping-content {
    display: flex;
    height: 100%;
  }

  .shop-side-menu {
    flex-basis: 15%;
    height: 100%;
  }

  .online-shop-page-content {
    flex-basis: 85%;
    padding: 10px;
  }
}
