.online-shop-page-wrapper {
  height: 100%;
  display: flex;
  position: relative;


  .shop-side-menu {
    flex-basis: 15%;
    height: 100%;
  }

  .online-shop-page-content {
    flex-basis: 85%;
    flex-shrink: 0;
    padding: 0 20px;
  }

  .footer {

  }
}
