<ngb-carousel class="carousel" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" [interval]="interval">
  <ng-template ngbSlide *ngFor="let imgPath of carouselImagesPath">
    <app-store-item-image
        class="carousel-img"
        [imgPath]="imgPath"
        [alt]="imagesName"
        [fillImage]="!expandedView"
        [expandedView]="expandedView"
        [frameColor]="isPreviewImage(imgPath) ? undefined : frameColor"
        (click)="pictureClicked.emit()"
    ></app-store-item-image>
  </ng-template>
</ngb-carousel>
