.header-content {
  z-index: 1;
  height: var(--navigation-height);
  display: flex;
  align-items: center;
  justify-content: center;

  .navigation {
    margin: 0 auto;
  }

  .logo {
    padding-left: 70px;
    height: var(--navigation-height);
  }

  .social-media {
    margin-right: 40px;
    height: var(--navigation-height);
  }

  .theme-controller {
    height: var(--navigation-height);
    width: 40px;
    padding-right: 20px;
  }
}
