@use 'variables';
@use 'mixins';

.header-content {
  @include mixins.flex($center: true);
  height: var(--navigation-height);
  z-index: 1;

  .navigation {
    margin: 0 auto;
  }

  .logo-container {
    @include mixins.flex($center: true);
    height: var(--navigation-height);
    width: 80px;
    background-color: transparent;
  }

  .social-media {
    margin-right: 40px;
    height: var(--navigation-height);
  }

  .theme-controller {
    width: 40px;
    height: 40px;
    padding-right: 20px;
  }
}
