.header-content {
  z-index: 1;
  height: var(--navigation-height);
  display: flex;
  align-items: center;
  justify-content: center;

  .navigation {
    margin: 0 auto;
  }

  .logo {
    margin-left: 40px;
    height: var(--navigation-height);
    width: var(--logo-width);
  }

  .social-media {
    margin-right: 40px;
    height: var(--navigation-height);
  }
}
