$color-primary: #000;
$color-on-primary: #fff;
$color-on-primary-rgb: (255, 255, 255);
$color-background: #e4e8e8;
$color-background-secondary: #aeb0ae;
$app-border: #838383;
$app-dark-gray: #343a40;
$app-light-gray: #e3e2e2;
$link-color: #0d6efd;
$button: #f0f0f0;
