.modal-open .modal {
  z-index: 9999;
}

.modal-content {
  background-image: linear-gradient(to top left, var(--background-light), black, var(--background));
  border: 1px solid var(--app-border);

  .close-modal-btn button {
    background-color: transparent;
    padding: 0 10px;
  }
}

.carousel-indicators {
  margin-bottom: 0;
}

.about-me .carousel-img .store-image,
.expanded-view-item .paintings .carousel-img .store-image,
.expanded-view-item .paintings .store-image, {
  object-fit: fill;
}


.color-picker {
  bottom: 0;
  top: revert !important;
  position: absolute !important;
  background-color: var(--app-dark-gray) !important;
}
