/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '../../node_modules/bootstrap/scss/bootstrap';
@import "themes";

html {
  height: 100vh;
  width: 100vw;
}

body{
  height: 100%;
  width: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: unset;
  }
}

.grid-wrapper {
  height: 100%;
}

.shopping-page-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-open .modal {
  z-index: 9999;
}


