/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@forward 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

html {
  height: 100vh;
  width: 100vw;
}

body{
  height: 100%;
  width: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: unset;
  }
}

.grid-wrapper {
  height: 100%;
}

.shopping-page-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-button {
  cursor: pointer;
  border-radius: 50px;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 1px 1px 15px 1px gray;
  }
}

.modal-open .modal {
  z-index: 9999;
}
