<main class="about-me">
    <img class="picture" alt="sitting and painting" src="assets/pictures/sitting.jpeg">
    <div class="about-me-info">
        <div class="about-me-info-personal">
            <span>Leonie Kozitsa-Fix</span>
            <span>, {{age}} years old</span>
            <span>, Switzerland</span>
        </div>
        <p>
            As a child, I had to repeat the 1st class because I would first draw all over the paper
            and only afterward would do calculations and other stuff. In about 4th grade I understood that I need to focus on
            my academics and had to push my creativity far away to succeed.
            I focused on learning English and building up my education until one day my mother came home with a whole bag of acrylic
            colors and canvases. She had taken an art course, and when I saw all these colors, a deep desire that had been pushed away for
            many years rose and all I wanted was to try out all the different colors.
        </p>
        <p>Since that day I haven’t stopped painting with acrylic.
            I have always wanted to try out other painting materials but there was something about acrylic that took the
            pressure of performance off of me.
            When we moved back from America to Switzerland, I decided to bring my paintings to a local flower store and try to sell them there. Since they preferred
            flower paintings, I made a lot of them, which I loved, because I was able to use all sorts of colors and it
            would still look natural.
            I continued with my studies and went towards psychology, but art has always been there for me, when I felt tired, sad or even stressed,
            I could always dive into another world, the world of art.
        </p>
    </div>
</main>
