<div class="about-me">
    <app-optimized-image class="picture" alt="sitting and painting" src="assets/pictures/sitting.jpeg"></app-optimized-image>
    <div class="about-me-info">
        <h3 class="about-me-info-personal">Leonie Kozitsa-Fix, {{age}} years old, Switzerland</h3>
        <p>
            Growing up in Switzerland and in a school system where languages, science and mathematics matter the most, i had to repeat first grade due
            to drawing on the assignments, rather than solve them. In fourth grade I understood that I needed to focus on my academics and had to push
            my creativity far away to succeed. I forgot all about painting until i was 15 years old, when my family moved to America for five years.
            One day, my mother brought home some painting equipment from an art course that she took, and spread them all over the table. When I saw
            all these colors, a deep desire that I had pushed away for many years rose and all I wanted was to try out all the different colors.
        </p>
        <p>
            Since that day I haven’t stopped painting. I did complete my BA in Psychology and am currently working on my MSc Clinical Psychology,
            however art has always been there for me, when I felt tired, sad or even stressed, I could always dive into another world, the world of
            art.
        </p>
    </div>
</div>
