:host {
  height: 100%;
}

.about-me {
  display: flex;
  align-items: center;
  height: 800px;
  justify-content: center;

  .carousel {
    margin-right: 40px;
    max-height: 600px;
    width: 500px;
    max-width: 500px;
  }

  .about-me-info {
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }
}
