@use 'mixins';

:host {
  height: 100%;
  @include mixins.flex($center: true);
}

.about-me {
  @include mixins.flex();
  max-height: 100%;

  .picture {
    margin: 0 60px 0 10px;
    height: 500px;
    width: 500px;
    border-radius: 5px;
  }

  .about-me-info {
    @include mixins.flex(true);
    max-width: 600px;

    &-personal {
      font-size: 18px;
      padding-bottom: 10px;
      text-decoration: underline;
    }
  }
}
