.store-item-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px 5px 0 5px;;

  .store-item-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    height: 10%;
  }

  .store-item-image {
    height: 75%;
  }

  .pricing-section,
  .description-section {
    margin-top: auto;
  }

  .more-details-button {
    height: 15%;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
