@use 'mixins';

.website-wrapper {
  @include mixins.flex(true);
  @include mixins.width-height-100();

  .page-content {
    height: calc(100% - var(--navigation-height));
  }

  .app-navigation-side,
  .small-device-header {
    display: none;
  }

  .app-navigation-top {
    display: block;
    background-image: linear-gradient(to bottom right, var(--color-on-primary) 5%, transparent 50%);
  }
}
