@use 'mixins';

.website-wrapper {
  @include mixins.flex(true);
  @include mixins.width-height-100();

  .page-content {
    height: calc(100% - var(--navigation-height));
  }

  .app-navigation-top {
    display: block;
    background-image: linear-gradient(to bottom right, var(--color-on-primary) 5%, transparent 50%);
  }

  .menu-icon-button,
  .logo {
    background-color: transparent;
    width: 40px;
    height: 40px;
  }

  .small-device-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--small-screen-navigation-height);

    .menu-icon-img,
    .logo {
      height: 40px;
    }
  }
}
