:host {
  width: 100%;
}

.wrapper {
  width: 90%;
  height: 500px;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: darkgreen;

  .img {
    height: 100%;
    width: 70%;
  }

  .description {
    height: 100%;
    width: 30%;
    text-align: center;
    background-color: pink;
  }
}
