<label class="app-input">
    <span class="app-input-label" [ngClass]="{'required': isControlRequired}">
        <ng-content></ng-content>
    </span>
    <input
        type="text"
        class="app-input-text"
        [ngClass]="{'invalid' : showError}"
        [attr.aria-invalid]="showError"
        [required]="isControlRequired"
        [(ngModel)]="value"
        (blur)="onTouch()"
        (input)="onChange($event?.target?.value)"
    />
    <span *ngIf="showError" class="error-message">{{errorMessage}}</span>
</label>
