@use 'mixins';

.app-input {
  position: relative;
  @include mixins.flex(true);

  &-text {
    border: 1px solid var(--app-border);

    &.invalid {
      border-color: var(--app-error);
    }
  }

  &-label {
    position: relative;

    &.required:after {
      @include mixins.required-astrix();
    }
  }

  .error-message {
    position: absolute;
    left: 0;
    height: 20px;
    bottom: -18px;
    color: var(--app-error);
    font-size: 12px;
  }
}
