.navigation-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: unset;
  min-width: 300px;
}

.navigation-item {
  color: var(--color-on-primary);
  flex-grow: 1;
  opacity: 1;
  cursor: pointer;
  text-align: center;
  min-width: unset;
  padding: 0;
  white-space: nowrap;

  &:not(:last-of-type) {
    margin-right: 50px;
  }

  &.active {
    font-weight: bold;
  }
}
