.menu-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border-right: 1px solid darkgray;

  .menu-item {
    color: black;
    cursor: pointer;
    margin: 10px 0;

    &.active {
      color: blue;
    }
  }
}
