@use 'mixins';

.menu-wrapper {
  @include mixins.flex(true);
  align-items: center;
  height: 100%;
  border-right: 1px solid var(--app-border);

  .menu-title {
    padding: 10px;
    text-decoration: underline;
    text-align: center;
  }

  .menu-items {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .menu-item {
    @include mixins.flex($center: true);
    cursor: pointer;
    margin: 25px 0;
    border-bottom: 1px solid var(--app-border);
    padding-bottom: 10px;

    a.active {
      font-weight: bold;
    }
  }
}
