@use 'mixins';

.side-menu-wrapper {
  @include mixins.flex(true, true);

  .menu-items {
    @include mixins.flex(true);
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    height: 100%;
  }

  .menu-item {
    @include mixins.flex($center: true);
    cursor: pointer;
    margin: 20px 0;
    padding-bottom: 10px;
  }
}

