/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.grid-wrapper {
  height: 100%;
  padding: 20px;
}

.app-button {
  cursor: pointer;
  border-radius: 50px;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 1px 1px 15px 1px gray;
  }
}
