.wrapper {
  padding: 0 100px;
  display: flex;
  align-items: center;
  height: 600px;

  .carousel-wrapper {
    flex-shrink: 0;
    background-color: beige;
    width: 700px;
    height: 600px;

    .carousel {
      max-width: 400px;
      display: block;
      max-height: 400px;
      min-width: 400px;
      min-height: 400px;
    }
  }

  .carousel-text {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkolivegreen;

  }
}
