@use 'mixins';

:host {
  flex-grow: 1;
}

.home-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-on-primary);

  .home-page-info {
    display: flex;
    align-items: center;
    margin: auto 0;

    &-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 400px;
    }

    &-picture {
      height: 400px;
      margin-right: 100px;
    }
  }

  .website-name {
    padding-top: 50px;
    font-size: 30px;
  }

  .quotes {
    width: 100%;
    height: 200px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: fantasy;
    font-size: 20px;
  }
}
