@use 'mixins';

:host {
  @include mixins.width-height-100();
  @include mixins.flex($center: true);
  position: relative;
}

.image-container {
  @include mixins.width-height-100();
  @include mixins.flex($center: true);

  &.loaded:after {
    @include mixins.flex($center: true);
    content: "Blooming Arts";
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 10px;
    transform: rotate(45deg);
    color: white;
    opacity: 0.5;
  }

  .store-image {
    @include mixins.width-height-max-100();
    object-fit: contain;

    &.clickable {
      cursor: pointer;
    }

    &.frame {
      border-width: 15px;
      border-style: ridge ridge groove groove;
    }
  }

  .sold-out-image {
    position: absolute;
    transform: scale(0.7);
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
  }
}

.image-loader {
  position: absolute;
  width: 50px;
  height: 50px;
}
