@use 'mixins';

:host {
  @include mixins.width-height-100();
  display: block;
}

.store-image {
  @include mixins.width-height-100();
  object-fit: contain;

  &.frame {
    border-width: 15px;
    border-style: ridge ridge groove groove;
  }
}
