:host {
  height: 100%;
  width: 100%;
  display: block;
}

.store-image {
  height: 100%;
  width: 100%;
  object-fit: contain;

  &.frame {
    border-width: 15px;
    border-style: ridge ridge groove groove;
  }
}
