<form class="contact-form" [formGroup]="contactForm">
    <div class="sender-info">
        <app-input-text formControlName="name">Name</app-input-text>
        <app-input-text class="form-email" formControlName="email">Email</app-input-text>
    </div>
    <div class="sender-message">
        <label for="message">Message</label>
        <textarea
            id="message"
            name="message"
            class="form-message"
            formControlName="message"
            name="message">
    </textarea>
    </div>
</form>
