:host {
  height: 100%;
}

.contact-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    padding: 50px 0;
  }

  &-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .sender-info {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;

      .form-name {
        width: 40%;
      }

      .form-email {
        padding-left: 10px;
        width: 60%;
      }
    }

    .sender-message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 400px;
      margin-bottom: 20px;

      .form-message {
        height: 100%;
      }
    }
  }
}
